<div class="wrapper-tools-show">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="card-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @tool.photo %>');">
        <div class="card-price-show">
          <h3>$25/day</h3>
        </div>
        <div class="card-stars">
          <p>5 stars</p>
        </div>
        <a class="card-link-show" href="" ></a>
      </div>
    </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card-show text-center">
          <img class="avatar-medium" src="<%= @user.photo %>">
          <h2><%= @tool.title %></h2>
            <p>"<%= @tool.description %>"</p>
          <a href="#" class="btn-rent">Rent it!</a>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('https://static.pexels.com/photos/266125/pexels-photo-266125.jpeg');">
          <div class="card-description-home">
            <h2>Power Tools</h2>
            <p>Tools, tools, and other tools</p>
          </div>
          <a class="card-link-home" href="#" ></a>
        </div>
      </div>

 -->
