.card-booking {
  width: 325px;
  height: 200px;
  border-radius: 3px;
}

.container-booking {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.wrapper-title {
  margin: 20px;
  padding: 20px;
}

