.card-show {
  width: 500px;
  height: 350px;
  margin: 30px;
  background-size: cover !important;
  color: white;
  position: relative;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  border: solid 1px rgb(0,0,0);
  h3 {
    color: black;
  }
}

.tool-description {
  margin-left: 30px;
}

.card-user-show {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-price-show {
  position: absolute;
  left: 20px;
  font-size: 10px;
  opacity: 0.9;
}
.card-stars {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description-show h2 {
  font-size: 24px;
}
.card-description-show p {
  font-size: 13px;
}
.card-link-show {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
