.wrapper-tool-add {
 padding-top: 50px;
 padding-bottom: 135px;
 background-color: $brand-color;
}

.new-tool-box {
  border: solid 2px rgb(230,230,230);
  width: 511px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-left: 307px;
}

.create-listing-button {
  margin-left: 0px;
}
