<div class="container" style="padding-top: 30px;">
  <h1 class="page-header">Profile</h1>
  <div class="row ">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12 avatar-profile">
      <div class="text-center">
        <% avatar_url = @user.facebook_picture_url || "http://placehold.it/30x30" %>
        <%= image_tag avatar_url, class: "avatar avatar-xlarge" %>
      </div>
    </div>



    <!-- edit form column -->

    <div class="container">
      <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
        <%= render "/shared/user_form", :locals => {:editable => false} %>
      </div>
    </div>
    <div class="profile-tools-header">
      <h2 class="page-header inline-block ">Things I Own</h2>
    </div>
  </div>
</div>

<%= render "/shared/tools_display", :collections => {:tools => @tools } %>




