<div class="banner">
  <div class="banner-content text-center">
    <h1>ShedShare</h1>
    <h2>Need tools for your next project? Rent from your neighbors!</h2>
    <a href="/users/signup"><p>(Sign up and start renting your tools today)</p></a>

    <%= render 'shared/searchbar'  %>
  </div>

</div>

