<div class="banner">
  <div class="banner-content text-center">
    <h1>ShedShare</h1>
    <h2>Why buy when you can rent from your neighbor?</h2>
    <%= render 'shared/searchbar'  %>
  </div>

</div>

