<div class="footer">
  <div class="container footer-icons">
    <ul class="list-inline footer-list-right">
      <li><a href='#'><p>Terms</p></a></li>
      <li><a href='#'><p>Privacy</p></a></li>
      <li><a href='#'><i class="fa fa-facebook"></i></a></li>
      <li><a href='#'><i class="fa fa-twitter"></i></a></li>
      <li><a href='#'><i class="fa fa-youtube"></i></a></li>
    </ul>
  </span>
  </div>
</div>
