<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand navbar-wagon-link">
    <h3>ShedShare <i class="fa fa-handshake-o" aria-hidden="true"></i></h3>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Navigation buttons -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Tools</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Reviews</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a>

    <!-- Log in Link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Log Out</a>

    <!-- Button (call-to-action) -->
    <img src="user.jpg" alt="user" class="avatar">

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Log Out</a></li>
        <li><a href="#">Profile</a></li>
      </ul>
    </div>
  </div>
</div>
