<div class="search text-center-form">
  <form action="" class="search-by-tool form-inline">
    <input type="text" class="search-by-tool-input" placeholder="lawn mower">
    <input type="text" class="search-by-location-input" placeholder="Montreal">
    <input type="submit" value="Subscribe" class="navbar-wagon-item navbar-wagon-button btn">
  </form>
</div>

