<div class="search text-center" id="for_index_page">
  <div class="search-by-tool form-inline">

    <%= form_tag(tools_path, method: :get) do %>
      <%= text_field_tag :title, params[:title], :placeholder => "e.g. chainsaw, lawn mower, auger" %>
      <%= submit_tag 'Search', name: nil, class: "search-button navbar-wagon-item navbar-wagon-button btn" %>
    <% end %>

  </div>
</div>

