<div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url(<%= category[:photo] %>);">
            <div class="card-description-home">
              <h2><%= category[:name] %></h2>
            </div>
            <%= link_to " ", tools_path(category: category[:name]), {class: "card-link"} %>
          </div>
