<div class="banner">
  <div class="banner-content">
    <h1>ShedShared</h1>
    <h2>Find tools to rent close-by.</h2>
  </div>
</div>

<div class="search text-center-form">
  <form action="" class="search-by-tool form-inline">
    <input type="text" class="search-by-tool-input" placeholder="lawn mower">
    <input type="text" class="search-by-location-input" placeholder="Montreal">
    <input type="text" class="search-by-category-input" placeholder="Party supplies">
    <input type="submit" value="Subscribe" class="btn btn-primary">
  </form>
</div>
