<%= render 'shared/banner'  %>
<%= render 'shared/searchbar'  %>

<div class="wrapper-categories">
  <div class="container">
    <h4>Categories</h4>
  </div>
  <div class="container">
    <div class="row">
      <% @categories.each do |category| %>
        <div class="col-xs-12 col-sm-3">
          <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url(<%= category[:photo] %>);">
            <div class="card-description-home">
              <h2><%= category[:name] %></h2>
            </div>
            <a class="card-link-home" href="#" ></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
