<%= render 'shared/banner'  %>

<div class="wrapper-categories">
  <div class="container">
    <!-- <h4>Categories</h4> -->
  </div>
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 text-center">
          <div class="card-home">

            <img src="<%= asset_path( 'icon_light_tent.svg' ) %>" class="home-icons">
            <p>Camping Supplies</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
          <div class="card-home">

            <img src="<%= asset_path( 'icon_light_tent.svg' ) %>" class="home-icons">
            <p>Camping Supplies</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
          <div class="card-home">

            <img src="<%= asset_path( 'icon_light_speakers.svg' ) %>" class="home-icons">
            <p>Entertainment Equipment</p>
          </div>
        </div>
    </div>
  </div>
</div>
