.banner {
  padding: 60px 0 0 33px;
  background-size: cover;
  height: 537px;
  background-color: $brand-color;
  h1 {
  font-weight: bold;
  font-size: 48px;
  color: white;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  h2 {
    color: white;
    color: rgba(255, 255, 255, 0.9);
    font-weight: lighter;
    margin-bottom: 20px;
  }
}

h4 {
  position: text-center;
}
