.banner {
  padding: 175px 0 0 33px;
  background-size: cover;
  height: 100vh;
  background-color: $green;
  h1 {
  font-weight: bold;
  font-size: 66px;
  color: white;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  h2 {
    color: white;
    font-family: $base-font;
    font-weight: lighter;
    font-size: 24px;
  }
}

h4 {
  position: text-center;
}
