html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 150px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: rgb(240, 240, 240);
  padding-left: 30px;
}

.footer-icons {
  text-align: left;
  margin-top: 25px;
  width: 100%;
  ul {
    list-style: none;
    padding: none;
  }
}

.fa-twitter {
    color: #4099FF;
}

.fa-facebook {
    color: #3B5998;
}


.fa {
    margin-left: 10px;
    opacity: 0.7;
    font-size: 30px;
    transition: 1s;
    padding: 10px;
    -webkit-transition: 1s;
}

.fa:hover{
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
}
