html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 150px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(240, 240, 240);
  padding-left: 30px;
}

.footer-list-right {
  padding-right: 40px;
}

.footer-icons {
  text-align: left;
  margin-top: 15px;
  width: 100%;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  ul {
    list-style: none;
    padding: none;
    text-align: right;
    justify-content: center;
  }
  p {
    font-weight: lighter;
    margin: 5px;
    color: gray;
  }
}

.fa-twitter {
    color: #4099FF;
}

.fa-facebook {
    color: #3B5998;
}


.fa {
    margin-left: 5px;
    opacity: 0.7;
    font-size: 25px;
    transition: 1s;
    padding: 10px;
    -webkit-transition: 1s;
}

.fa:hover{
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
}
