.btn-edit-profile {
  background-color: #087E8B;
  width: 100%;
}

.btn-edit-profile:hover {
  background-color: #0b3954;
}


.edit-picture-profile {
  width: 220px;
}

.btn-cancel-profile {
  width: 100%;
}

.personal-info-title {
  margin-bottom: 40px;
  margin-left: 115px;
}

.avatar-profile {
  margin-top: 100px;
}

.list-group-item {
  margin: 15px;
}

.edit-button-profile {
  margin-left: 646px;
  background-color: #087E8B;
}

.edit-button-profile:hover {
  background-color: #0b3954;
}

.cancel-button-profile {
  background-color: white;
  background-size: cover;
  color: black;
  margin-left: 210px;
  padding-right: 219px;
  padding-left: 218px;
}

.save-button-profile {
  background-color: #087E8B;
  margin-left: 210px;
  padding-right: 261px;
  padding-left: 225px;
}

.save-button-profile:hover {
  background-color: #0b3954;
}

.cancel-button-profile:hover {
  background-color: #0b3954;
}

.form-control {
  box-shadow: none;
}
.btn {
  border-color: gray;
}

.cards_row {
  margin-top: 35px;
}
.plus-btn {
  border-color: white;
  margin-right: 700px;
  &:hover {
    background-color: white;
    border-color: white;
  }
  &:active {
    background-color: white;
    border-color: white;
    color: gray;
  }
}






