.btn-edit-profile {
  background-color: #087E8B;
  width: 100%;
}

.btn-edit-profile:hover {
  background-color: #0b3954;
}

.edit-picture-profile {
  width: 220px;
}

.btn-cancel-profile {
  width: 100%;
}

.personal-info-title {
  margin-bottom: 40px;
  margin-left: 115px;
}


.list-group-item {
  margin: 15px;
}

.edit-button-profile {
  margin-left: 592px;
  background-color: #087E8B;
}

.edit-button-profile:hover {
  background-color: #0b3954;
}

.cancel-button-profile {
  background-color: white;
  background-size: cover;
  color: black;
  margin-left: 172px;
  padding-right: 212px;
  padding-left: 213px;
}

.save-button-profile {
  background-color: #087E8B;
  margin-left: 173px;
  padding-right: 248px;
  padding-left: 225px;
}

.save-button-profile:hover {
  background-color: #0b3954;
}

.cancel-button-profile:hover {
  background-color: #0b3954;
}

.form-control {
  box-shadow: none;
  width: 470px;
}
.btn {
  border-color: gray;
}

.cards_row {
  margin-top: 35px;
}
.plus-btn {
  border-color: white;
  margin-right: 495px;
  &:hover {
    background-color: white;
    border-color: white;
  }
  &:active {
    background-color: white;
    border-color: white;
    color: gray;
  }
}

.photo-uploader {
  width:221px;
}
