.btn-edit-profile {
  background-color: #087E8B;
  width: 100%;
}

.btn-edit-profile:hover {
  background-color: #0b3954;
}


.edit-picture-profile {
  width: 220px;
}

.btn-cancel-profile {
  width: 100%;
}

.personal-info-title {
  margin-bottom: 40px;
  margin-left: 115px;
}

.avatar-profile {
  margin-top: 100px;
}

.list-group-item {
  margin: 15px;
}

.edit-button-profile {
  margin-top: 25px;
  margin-left: 373px;
  background-color: #087E8B;
}

.edit-button-profile:hover {
  background-color: #0b3954;
}

.control-label {
  margin-top: 25px;
}
