input {
  padding: 7px;
  width: 400px;
}

.search-button {
  border: 2px solid $darkblue;
  display: inline-block;
  background-color: $blue;
  opacity: 0.8;
  font-size: 16px;
  width: 165px;
  line-height: 24px;
  letter-spacing: 0;
  color: white;
  margin-left: 20px;
  padding: 10px 30px;
  border-radius: 3px;
  transition: all .3s ease;
}

.search-form-home{
  height: 30px;
  margin: none;
}

.search-by-tool-input{
  height: 43px;
}

.search-by-location-input{
  height: 43px;
}

#for_index_page{
  margin-top: 50px;
  margin-bottom: 40px;
}
