input {
  padding: 7px;
  width: 400px;
}

.search-button {
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: lighter;
  border-radius: 4px;
  width: 100px;
  padding: none;
  margin: none;
  border: solid 1px $brand-color;
}

.search-form-home{
  height: 30px;
  margin: none;
}

.search-by-tool-input{
  height: 43px;
}

.search-by-location-input{
  height: 43px;
}

#for_index_page{
  margin-top: 50px;
  margin-bottom: 40px;
}
